<launch>
    <arg name="robot_name"/>
    <arg name="init_pose"/>
    <param name="thwomp_description" command="$(find xacro)/xacro '$(find airlab_gazebo)/urdf/thwomp_Thwomp_v4.urdf.xacro'" />
    <param name="robot_description" command="$(find xacro)/xacro '$(find airlab_gazebo)/urdf/thwomp_Thwomp_v4.urdf.xacro'" />

    <node name="spawn_one_thwomp" pkg="gazebo_ros" type="spawn_model"
     args="$(arg init_pose) -urdf -param thwomp_description -model $(arg robot_name)"
     respawn="false" output="screen" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" 
          name="robot_state_publisher" output="screen"/>
</launch>