<launch>
  <param name="thwomp_description" command="$(find xacro)/xacro '$(find airlab_gazebo)/urdf/thwomp_Thwomp_v4.urdf.xacro'" />

  <!-- BEGIN OBSTACLE 1-->
  <group ns="thwomp1">
    <param name="tf_prefix" value="thwomp1_tf" />
    <include file="$(find airlab_gazebo)/launch/spawn_thwomp.launch" >
      <arg name="init_pose" value="-x 3.25 -y -1.137 -z 0.25" />
      <arg name="robot_name"  value="thwomp1" />
    </include>
  </group>

  <!-- BEGIN OBSTACLE 2-->
  <group ns="thwomp2">
    <param name="tf_prefix" value="thwomp2_tf" />
    <include file="$(find airlab_gazebo)/launch/spawn_thwomp.launch" >
      <arg name="init_pose" value="-x 4 -y 3 -z 3" />
      <arg name="robot_name"  value="thwomp2" />
    </include>
  </group>

  <!-- BEGIN OBSTACLE 3-->
  <group ns="thwomp3">
    <param name="tf_prefix" value="thwomp3_tf" />
    <include file="$(find airlab_gazebo)/launch/spawn_thwomp.launch" >
      <arg name="init_pose" value="-x -3 -y 2.9 -z 1" />
      <arg name="robot_name"  value="thwomp3" />
    </include>
  </group>
  
</launch>